.text-s-primary-400 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 14px;
  font-weight: 400; }

.text-s-primary-700 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 14px;
  font-weight: 700; }

.text-m-primary-400 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 16px;
  font-weight: 400; }

.text-m-primary-700 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 16px;
  font-weight: 700; }

.text-l-primary-400 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 22px;
  font-weight: 400; }

.text-l-primary-700 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 22px;
  font-weight: 700; }

.text-s-graymedium-400 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 14px;
  font-weight: 400; }

.text-s-graymedium-700 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 14px;
  font-weight: 700; }

.text-m-graymedium-400 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 400; }

.text-m-graymedium-700 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 700; }

.text-l-graymedium-400 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 22px;
  font-weight: 400; }

.text-l-graymedium-700 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 22px;
  font-weight: 700; }

.text-s-graystrong-400 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 14px;
  font-weight: 400; }

.text-s-graystrong-700 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 14px;
  font-weight: 700; }

.text-m-graystrong-400 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 16px;
  font-weight: 400; }

.text-m-graystrong-700 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 16px;
  font-weight: 700; }

.text-l-graystrong-400 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 22px;
  font-weight: 400; }

.text-l-graystrong-700 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 22px;
  font-weight: 700; }

.links {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFC279; }
  .links:hover {
    color: #BE7218;
    cursor: pointer; }

.error-message {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #980d0d;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffe7e7;
  border: 1px solid #980d0d;
  border-radius: 10px; }

.success-message {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #036e13;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #edfcf1;
  border: 1px solid #036e13;
  border-radius: 10px; }

.button-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: #FFC279;
  border-radius: 5px;
  border: none;
  width: 100px; }
  .button-submit:hover {
    background-color: #FF7271;
    cursor: pointer; }

.text-s-primary-400 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 14px;
  font-weight: 400; }

.text-s-primary-700 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 14px;
  font-weight: 700; }

.text-m-primary-400 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 16px;
  font-weight: 400; }

.text-m-primary-700 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 16px;
  font-weight: 700; }

.text-l-primary-400 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 22px;
  font-weight: 400; }

.text-l-primary-700 {
  font-family: "Montserrat", sans-serif;
  color: #FF7271;
  font-size: 22px;
  font-weight: 700; }

.text-s-graymedium-400 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 14px;
  font-weight: 400; }

.text-s-graymedium-700 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 14px;
  font-weight: 700; }

.text-m-graymedium-400 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 400; }

.text-m-graymedium-700 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 700; }

.text-l-graymedium-400 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 22px;
  font-weight: 400; }

.text-l-graymedium-700 {
  font-family: "Montserrat", sans-serif;
  color: #9A9A9A;
  font-size: 22px;
  font-weight: 700; }

.text-s-graystrong-400 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 14px;
  font-weight: 400; }

.text-s-graystrong-700 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 14px;
  font-weight: 700; }

.text-m-graystrong-400 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 16px;
  font-weight: 400; }

.text-m-graystrong-700 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 16px;
  font-weight: 700; }

.text-l-graystrong-400 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 22px;
  font-weight: 400; }

.text-l-graystrong-700 {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  font-size: 22px;
  font-weight: 700; }

.links {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFC279; }
  .links:hover {
    color: #BE7218;
    cursor: pointer; }

.error-message {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #980d0d;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffe7e7;
  border: 1px solid #980d0d;
  border-radius: 10px; }

.success-message {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #036e13;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #edfcf1;
  border: 1px solid #036e13;
  border-radius: 10px; }

.button-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: #FFC279;
  border-radius: 5px;
  border: none;
  width: 100px; }
  .button-submit:hover {
    background-color: #FF7271;
    cursor: pointer; }

* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  background-color: #f2f2f2; }

input[type="radio" i] {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #FF572233;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 1px #FF7271;
  margin-right: 3px; }
  input[type="radio" i]:checked {
    background: #FF7271; }

.header {
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 19px rgba(255, 114, 113, 0.15);
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-logo {
    max-width: 200px; }

.article {
  max-width: 1220px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 20px;
  background-color: #FFFFFF;
  border-radius: 20px; }
  .article-image {
    max-width: 600px;
    height: auto; }
    .article-image-src {
      width: 100%;
      border-radius: 20px; }
  .article-feedback-description {
    margin: 0 0 40px; }
    .article-feedback-description-author {
      display: flex;
      gap: 10px;
      margin: 10px 0 20px; }
  .article-feedback-comment {
    margin: 0 0 40px;
    display: flex;
    flex-direction: column; }
    .article-feedback-comment-reaction {
      margin-top: 20px;
      display: flex;
      gap: 24px;
      flex-wrap: wrap; }
      .article-feedback-comment-reaction-input {
        display: flex;
        align-items: center;
        gap: 5px; }
        .article-feedback-comment-reaction-input-positive {
          display: flex;
          align-items: center; }
          .article-feedback-comment-reaction-input-positive::before {
            content: url("/src/loveit.svg");
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px; }
        .article-feedback-comment-reaction-input-constructive {
          display: flex;
          align-items: center; }
          .article-feedback-comment-reaction-input-constructive::before {
            content: url("/src/criticism.svg");
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px; }
    .article-feedback-comment-username {
      width: 200px;
      height: 30px;
      margin-top: 20px;
      border-radius: 10px;
      border: 1px solid #E3E3E3;
      padding: 5px;
      font-family: "Montserrat", sans-serif; }
      .article-feedback-comment-username::placeholder {
        color: #9A9A9A;
        font-style: italic; }
      .article-feedback-comment-username:focus {
        outline: none !important;
        border: 2px solid #FF7271; }
    .article-feedback-comment-textarea {
      margin: 20px 0 20px;
      width: 500px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid #E3E3E3;
      padding: 20px;
      font-family: "Montserrat", sans-serif; }
      .article-feedback-comment-textarea::placeholder {
        color: #9A9A9A;
        font-style: italic; }
      .article-feedback-comment-textarea:focus {
        outline: none !important;
        border: 2px solid #FF7271; }
  .article-feedback-forum-comment {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin: 20px 0;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 20px; }

@media screen and (min-width: 761px) and (max-width: 1260px) {
  .article {
    display: block;
    margin: 20px auto;
    max-width: 800px; }
    .article-image {
      margin: 0 auto 40px;
      border-radius: 10px; } }
@media screen and (min-width: 320px) and (max-width: 760px) {
  .article {
    display: block;
    margin: 20px auto;
    max-width: 310px; }
    .article-image {
      max-width: 300px;
      margin: 0 auto 40px;
      border-radius: 10px; }
    .article-feedback-comment-textarea {
      width: 270px; } }

/*# sourceMappingURL=app.css.map */
