.article {
	max-width: 1220px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding: 40px 20px;
	background-color:$white;
	border-radius: 20px;

  &-image {
    max-width: 600px;
    height: auto;

		&-src {
			width: 100%;
			border-radius: 20px;
		}
  }

	&-feedback {
		&-description {
			margin: 0 0 40px;

			&-author {
				display: flex;
				gap: 10px;
				margin: 10px 0 20px;
			}
		}
		
		&-comment {
			margin: 0 0 40px;
			display: flex;
			flex-direction:column;

			&-reaction {
				margin-top: 20px;
				display: flex;
				gap: 24px;
				flex-wrap: wrap;

				&-input {
					display: flex;
					align-items: center;
					gap: 5px;

					&-positive {
						display: flex;
						align-items:center;

						&::before {
							content: url('/src/loveit.svg');
							display: inline-block;
							width: 24px;
							height: 24px;
							margin-right: 5px;
						}
					}

					&-constructive {
						display: flex;
						align-items:center;

						&::before {
							content: url('/src/criticism.svg');
							display: inline-block;
							width: 24px;
							height: 24px;
							margin-right: 5px;
						}
					}
				}
			}

			&-username {
				width: 200px;
				height: 30px;
				margin-top: 20px;
				border-radius: 10px;
				border: 1px solid $gray-light;
				padding: 5px;
				font-family: "Montserrat", sans-serif;

				&::placeholder {
					color: $gray-medium;
					font-style: italic;
				}

				&:focus {
					outline: none !important;
					border: 2px solid $primary;
				}
			}

			&-textarea {
				margin: 20px 0 20px;
				width: 500px;
				height: 150px;
				border-radius: 20px;
				border: 1px solid $gray-light;
				padding: 20px;
				font-family: "Montserrat", sans-serif;

				&::placeholder {
					color: $gray-medium;
					font-style: italic;
				}

				&:focus {
					outline: none !important;
					border: 2px solid $primary;
				}
			}
		}	

		&-forum-comment {
			display: grid;
			grid-template-columns: auto 1fr auto;
			gap: 10px;
			margin: 20px 0;
			padding: 20px;
			background-color: $gray-extralight;
			border-radius: 20px;
		}
	}
}

@media screen and (min-width: 761px) and (max-width: 1260px) {
	.article {
		display: block;
		margin: 20px auto;
		max-width: 800px;

		&-image {
			margin: 0 auto 40px;
			border-radius: 10px;
		}
	}		
}

@media screen and (min-width: 320px) and (max-width: 760px) {
	.article {
		display:block;
		margin: 20px auto;
		max-width: 310px;

		&-image {
			max-width: 300px;
			margin: 0 auto 40px;
			border-radius: 10px;

		}

		&-feedback-comment-textarea {
			width: 270px;
		}
	}		
}

